.hero-section {
  text-align: center;
  padding: 2rem;
}

.hero-list {
  display: flex;
  justify-content: space-around;

}

.hero-list__item {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 10px rgba(140, 58, 178, 0.4);
  padding: 10px;
  border-radius: 20px;

}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-list li {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
